body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grey: #EDEAEB;
  --yellow: #FFE733;
  --orange: #FF773D;
  --purple: #290565;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  color: var(--grey);
  background-color: #532747;
  display: flex;
  padding: 20px;
  height: 5em;
  justify-content: space-between;
}

.nav-bar > a {
  text-decoration: none;
  color: inherit;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%
}

.nav-bar > h2 {
  margin: 0;
}

.btn-primary:hover {
  background-color: #E57A44;
  border: 1px solid #E57A44;
}

.btn-primary {
  background-color: #77AD78;
  border: 1px solid #77AD78;
}

.btn-warning {
  background-color: #E57A44;
  border: 1px solid #E57A44;
}

.btn-warning:hover {
  background-color: #77AD78;
  border: 1px solid #77AD78;
}

.btn {
  color: white;
}

.btn:hover {
  color: white;
}

.nav-links > .btn {
  font-size: 1.1em;
}

.nav-links > .btn:active {
  background-color: #3B1C32;
  border: 1px solid #3B1C32;
}

.menu-btn {
  display: none;
  float: left;
  color: #FFFFFF;
}

.small-menu {
  display: none;
  background-color: #532747F2;
  padding: 15px 30px 15px 30px;
  position: fixed;
  right: 0;
  z-index: 10;
  border-bottom-left-radius: 5px;
}

.main-content {
  height: calc(100vh - 5em);
  overflow-y: auto;
}

.banner-image {
  width: 100vw;
  height: 25vw;
  object-fit: cover;
  object-position: 50% 40%;
}

.home-content {
  padding: 30px;
  width: 100vw;
}

.upcoming-events > div > div > p {
  margin-bottom: 0;
}

.grid-container {
  padding: 0 30px 0 30px;
  margin-top: 2em;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20em;
  margin: 0.75em;
}

.card:hover {
  box-shadow: 3px 2px 5px #CDCDCD99;
}


/* REMOVE THIS WHEN ALL IMAGES ARE CONSISTENT SIZE */
.card-img-top {
  height: 12em;
  width: 20em;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-text {
  height: 120px;
  text-wrap: wrap;
}

.ftr {
  padding: 15px;
  margin-top: 20px;
  background-color: lightgray;
  width: 100%;
}

.authenticated > div:not(.dock) {
  margin-top: 2em;
}

.unauthenticated {
  padding: 1em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  color: #b0b0b0!important;
}

textarea::placeholder {
  color: #b0b0b0!important;
}

.input-group .form-control {
  border-top-right-radius: .375rem!important;
  border-bottom-right-radius: .375rem!important;
}

.form-horizontal .input-group {
  width: 11.5em;
}

.unauthenticated .input-group {
  width: 30vw;
}

.unauthenticated .input-group span {
  width: 5.75em;
  text-align: right;
}

.unauthenticated .btn {
  width: fit-content;
}

.authenticated {
  display: flex;
}

.authenticated .dock {
  background-color: #532747;
  padding: 1em;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2em;;
  margin-top: 0;
}

.authenticated .dock a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 1em;
}

.item-row {
  padding: 1em 0 1em .5em;
  border-top: solid 2px grey;
  display: flex;
  align-items: center;
}

.item-row > h5{
  margin-bottom: 0;
}

@media (max-width: 800px) {

  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .small-menu {
    display: block;
  }

  .banner-image {
    height: 200px;
  }

  .unauthenticated .input-group {
    width: 240px;
  }
}