:root {
  /* Override bootstrap variables */
  --bs-primary: #290565;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grey: #EDEAEB;
  --green: #77AD78;
  --orange: #E57A44;
  --purple: #532747;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  color: var(--grey);
  background-color: #532747;
  display: flex;
  padding: 20px;
  height: 5em;
  justify-content: space-between;
}

.nav-bar > a {
  text-decoration: none;
  color: inherit;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%
}

.nav-bar > h2 {
  margin: 0;
}

.btn-primary:hover {
  background-color: #E57A44;
  border: 1px solid #E57A44;
}

.btn-primary {
  background-color: #77AD78;
  border: 1px solid #77AD78;
}

.btn-warning {
  background-color: #E57A44;
  border: 1px solid #E57A44;
}

.btn-warning:hover {
  background-color: #77AD78;
  border: 1px solid #77AD78;
}

.btn {
  color: white;
}

.btn:hover {
  color: white;
}

.nav-links > .btn {
  font-size: 1.1em;
}

.nav-links > .btn:active {
  background-color: #3B1C32;
  border: 1px solid #3B1C32;
}

.menu-btn {
  display: none;
  float: left;
  color: #FFFFFF;
}

.small-menu {
  display: none;
  background-color: #532747F2;
  padding: 15px 30px 15px 30px;
  position: fixed;
  right: 0;
  z-index: 10;
  border-bottom-left-radius: 5px;
}

.main-content {
  height: calc(100vh - 5em);
  overflow-y: auto;
}

.banner-image {
  width: 100vw;
  height: 25vw;
  object-fit: cover;
  object-position: 50% 40%;
}

.events-list {
  padding: 30px;
  width: 100vw;
}

.upcoming-events > div > div > p {
  margin-bottom: 0;
}

.event-image {
  height: 8em;
  width: 8em;
  object-fit: cover;
}

.grid-container {
  padding: 0 30px 0 30px;
  margin-top: 2em;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20em;
  margin: 0.75em;
}

.card:hover {
  box-shadow: 3px 2px 5px #CDCDCD99;
}


/* REMOVE THIS WHEN ALL IMAGES ARE CONSISTENT SIZE */
.card-img-top {
  height: 12em;
  width: 20em;
  object-fit: cover;
  object-position: 50% 50%;
}

.food-card .card-text {
  height: 80px;
}

.food-card .btn:hover {
  background-color: #77AD78;
  border: 1px solid #77AD78;
}

.card-text {
  height: 120px;
  text-wrap: wrap;
  overflow: hidden;
}

.filter-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.dropdown {
  position: relative;
}

.dropdown-text {
  height: 24px;
  width: 100%;
  overflow: hidden;
}

.dropdown-content {
  display: block !important;
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 15;
  background-color: #f8f9fa;
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  border-radius: 0 0 .5em .5em;
  border: 1px solid grey;
  border-top: none;
}

.tip {
  position: relative;
  display: inline-block;
}

.tip:hover {
  background-color: #b0b0b0;
}

.tip .tip-text {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: .5em;
  border-radius: .5em;
  box-shadow: black 0 0 .5em 0;
 
  bottom: 90%;
  position: absolute;
  z-index: 1;
}

.tip:hover .tip-text {
  visibility: visible;
}

.ftr {
  padding: 15px;
  margin-top: 20px;
  background-color: lightgray;
  width: 100%;
}

.authenticated > div:not(.dock) {
  margin-top: 2em;
}

.unauthenticated, .setup {
  padding: 1em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  color: #b0b0b0!important;
}

textarea::placeholder {
  color: #b0b0b0!important;
}

.input-group {
  width: 36.5em;
}

.input-group .form-control {
  border-top-right-radius: .375rem!important;
  border-bottom-right-radius: .375rem!important;
}

.select-tag-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1px .5em;
}

.select-tag {
  padding: .25em .5em;
  border-radius: .75em;
  cursor: pointer;
}

.select-tag:hover {
  background-color: #95cf96;
}

.error-message {
  padding: 1em;
  background-color: #ff000040;
  border-radius: .375em;
  margin-bottom: 1em;
  text-align: center;
}

.form-horizontal-3 .input-group {
  width: calc((36.5em - 2em) / 3)
}

.form-horizontal-4 .input-group {
  width: calc((36.5em - 3em) / 4)
}

.unauthenticated .input-group {
  width: 30vw;
}

.unauthenticated .input-group span {
  width: 5.75em;
  text-align: right;
}

.unauthenticated .btn {
  width: fit-content;
}

.authenticated {
  display: flex;
}

.authenticated .dock {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #532747;
  padding: 1em;
  height: calc(100vh - 5em);
  width: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-right: 2em;;
  margin-top: 0;
}

.authenticated .dock a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 1em;
}

.accordion {
  /* Override bootstrap variables */
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-collapse.show, .accordion-collapse.collapsing{
  border-top: 1px solid white;
}

.accordion-body {
  padding: 0
}

.accordion-item, .accordion-header > button {
  background-color: #532747 !important;
  color: #FFFFFF
}

.accordion-button::after {
  filter: brightness(1000%)
}

.accordion-button:focus {
  border: 0;
}

.accordion-button:not(.collapsed) {
  color: inherit;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.list-item {
  padding: 1em 0 1em .5em;
  border-top: solid 2px grey;
  display: flex;
  align-items: center;
}

.list-item > h5 {
  margin-bottom: 0;
}

.admin-list-item {
  justify-content: space-between;
  width: 40vw;
}


.admin-edit {
  position: sticky;
  top: 2em;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7em);
}

input[type="range"]::-webkit-slider-thumb {
  background: var(--green) !important;
}


@media (max-width: 800px) {

  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .small-menu {
    display: block;
  }

  .small-menu > .nav-links {
    display: flex;
    flex-direction: column;
  }

  .banner-image {
    height: 200px;
  }

  .unauthenticated .input-group {
    width: 240px;
  }
}